
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins';
    background-color: #f7feef;
}
/*NAV-BAR*/
header{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
section h2{
    margin-top: 60px;
    font-family: 'Taviraj';
    font-weight: 500;
    font-style: italic;
    color: white;
}
.fondoInicio{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../src/Imagenes/Plantas.png);
}
.Frase{
    float: right;
    margin-top: 60px;
    margin-right: 60px;
    width: 700px;
    height: 50px;
    text-align: end;
}
nav{
    margin-top: 15px;
    height: 50px;
    font-weight: 500;
    font-size: small;
}
.navbar-brand{
    margin-top: 90px;
    margin-left: 60px;
}
.navbar-brand img{
    width: 150px;
}
.navbar-brand img:hover{
    filter: drop-shadow(0 5px 5px rgba(75, 129, 4, 0.781));
}
.navbar-nav{
    margin-right: 60px;
}
a.nav-link{
    margin: 0;
    padding: 0;
}
.nav-link{
    color: white!important;
    padding-bottom: 0px;
}
.nav-link:hover{
    border-bottom: 3px solid rgb(74, 204, 74);
    font-weight: 900;
}
.nav-link:focus{
    font-weight: 800;
}
@media only screen and (max-width: 990px){
    .Frase{
        display: none;
    }
    a.navbar-brand{
        margin-top: 0px;
    }
    .navbar-brand img{
        width: 80px;
        height: 80px;
    }
    
    nav{
        margin-top: 0px;
    }
    .navbar-brand{
        margin-top: 0px;
        margin-left: 15px;
    }
    div.navbar-nav{
        margin-right: 0px;
        padding:15px 30px 15px 15px;
        width: 350px;
        float: inline-end;
        display: flex;
        justify-content: end;
        text-align: end;
        background-color: #A8CA7E;
        border-radius: 20px 0px 20px 0px;
    }
    .nav-link{
        font-size:x-large;
        padding: 10px 0px 10px 10px;
        margin: 0px 20px 10px 25px;
    }
    .nav-link:focus{
        padding: 10px 0px 0px 10px;
        margin-right: 20px;
    }
}
.navbar-toggler{
    font-weight: 200;
    font-size: xx-large;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    width: 45px;
    height: 35px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    margin-top: 0%;
}
.dropdown-menu{
    background-color: #638b31;
}
.dropdown-item{
    font-weight: 500;
    color: white;
}
.dropdown-item:hover{
    background-color: #a5df5e;
}
.logo-peque{
    margin: 0px 0px 0px 60px;
    padding: 0;
}
.logo-peque img{
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.781));
    width: 80px;
    height: 80px;
}
.logo-peque img:hover{
    filter: drop-shadow(0 5px 5px rgba(75, 129, 4, 0.781));
}
.nav-verde{
    opacity: .6;
    height: 100px;
    background-color: #76994c;
}
.nav-verde:hover{
    opacity: 1;
    height: 100px;
    background-color: #76994c;
}
.obscuro{
    color: rgb(22, 22, 22);
}
/*///////////////////////////////////////////////////////////////////////NAV-BAR*/
/*//////////////////////////////////////////////////////////////////////CATÁLOGO*/
/*-------------------------------------------------PLANTAS*/
h2.catalogo{
    font-family: 'Taviraj';
    font-weight: 600;
    font-style: italic;
    margin: 0px 0px 30px 0px;
}
#deSombra{
    font-family: 'Taviraj';
    font-weight: 600;
    font-style: italic;
    margin: 0px 0px 15px 0px;
}
#plantas_cards{
    border: none;
    display: flex;
    justify-content: center;
}
.col-md-6.col-lg-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 370px;
    margin: 10px 15px 80px 5px;
    padding: 0;
}
.card{
    border: none;
    background: none;
    margin: 0;
    width: 220px;
}
.imagen{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    overflow: hidden;
}
div.card-body{
    background-color: #CBDDB5;
    padding: 10px;
    border-radius: 15px;
    margin-top: 5px;
    height: 135px;
}
div.card-body h6{
    font-family: 'Taviraj';
    font-weight: 700;
    font-style: italic;
}
div.card-body p{
    margin-bottom: 0;
}
#BotonCard{
    float: right;
    display: flex;
    align-items: center;
    padding: 0%;
    margin-top: 5px;
    margin-right: 3px;
    width: 140px;
    height: 30px;
    border-radius: 10px;
    background-color: #5b96138f;
}
#BotonCard p{
    font-weight: 500;
    padding: 0%;
}
#BotonCard img{
    height: 20px;
    width: 20px;
}
/*-------------------------------------------------SERVICIOS*/
.contenido-serv{
    margin-top: 80px;
    float: right;
    width: 300px;
    height: 180px;
    text-align: end;
    display: block;
    align-items: center;
}
.contenido-serv-der{
    margin-top: 80px;
    width: 300px;
    height: 180px;
    display: block;
    align-items: center;
}
.contenido-serv-der h3{
    font-family: 'Taviraj';
    font-weight: 700;
}
.contenido-serv h3{
    font-family: 'Taviraj';
    font-weight: 700;
}
.murov{
    margin-left: 20px;
    margin-bottom: 100px;
    height: 350px;
    width: 550px;
    border-radius: 20px;
    overflow: hidden;
}
.murov img{
    width: 100%;
    height: 100%;
    transition: 0.8s;
    object-fit: cover;
}
.murov img:hover{
    scale: 2;
}
@media only screen and (max-width: 900px){
    .murov{
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 100px;
        height: 50vh;
        width: 70vh;
        border-radius: 20px;
        overflow: hidden;
    }
    .muroT{
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 100px;
        height: 45vh;
        width: 65vh;
        border-radius: 20px;
        overflow: hidden;
    }
}
.muroT{
    margin-left: 60px;
    margin-bottom: 100px;
    height: 310px;
    width: 550px;
    border-radius: 20px;
    overflow: hidden;
}
.muroT img{
    width: 100%;
    height: 100%;
    transition: 0.8s;
    object-fit: cover;
}
.muroT img:hover{
    scale: 2;
}
#BotonServ{
    display: flex;
    align-items: center;
    padding: 0%;
    margin-top: 5px;
    margin-right: 3px;
    width: 140px;
    height: 30px;
    border-radius: 10px;
    background-color: #5b96138f;
}
#BotonServ p{
    font-weight: 500;
    padding: 0%;
}
#BotonServ img{
    height: 20px;
    width: 20px;
}
/*//////////////////////////////////////////////////////////////////////FOOTER*/
/*
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
*/
.color1{
    height: 55px;
    background-color: #9fc96c;
}
.color2{
    height: 34px;
    background-color: #76994c;
}
.color3{
    height: 21px;
    background-color: #39521b;
}
#foot{
    padding-top: 10px;
}
.redesSociales{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    list-style-type: none;
}
.redesSociales li a{
    color: rgb(27, 27, 27);
    text-decoration: none;
    font-weight: 600;
    margin-right: 15px;
}
.redesSociales li img{
    margin-right: 5px;
}
.navegacionF{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    list-style-type: none;
}
.navegacionF li a{
    color: rgb(27, 27, 27);
    font-weight: 600;
    margin-right: 15px;
    text-decoration: none;
}
.navegacionF li {
    color: rgb(27, 27, 27);
    font-weight: 600;
    margin-right: 15px;
}
.navegacionF li a:hover{
    border-bottom: 3px solid rgb(74, 204, 74);
    font-weight: 900;
}
.redesSociales li a:hover{
    border-bottom: 3px solid rgb(74, 204, 74);
    font-weight: 900;
}